#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} 

#taskDiv {
  height: 6em;
  padding: 2.5em;
  will-change: filter;
  transition: filter 300ms;
}
#taskDiv:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.data-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.data-item div {
  flex-grow: 1;
}

.data-item button {
  margin-left: 20px;
}